.proptech-non-protected-nav {
	position: fixed;
	width: 100%;
	background: var(--color-white);

	& > .top {
		background: var(--color-primary);
	}

	& > .top > .content {
		display: flex;
		padding: 21px 0;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	& > .top > .content > ul {
		display: flex;
		align-items: center;
		gap: 24px;
		padding: 0;
		margin: 0;
	}

	& > .top > .content > ul > li {
		list-style-type: none;
	}

	& > .main {
		display: flex;
		padding: 15px 0;
		border-bottom: 1px solid var(--border-light);
	}

	& > .main > ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		list-style-type: none;
		padding: 0;
	}

	& > .main > ul > li {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		max-width: 170px;
		flex-shrink: 0;
		width: 100%;
		padding: 7px;
		border-radius: 8px;
		background-color: var(--color-white);
		font-family: var(--font-regular);
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		color: var(--color-gray-600);
		transition:
			font-weight 0.3s ease-in-out,
			background-color 0.3s ease-in-out;
		cursor: pointer;
	}

	& > .main > ul > li:hover {
		background: var(--color-primary-light-hover);
	}

	& > .main > ul > li.active {
		background: var(--color-primary-light);
		color: var(--color-primary-alpha);
		font-family: var(--font-semibold);
		font-weight: 600;
	}
}
