@font-face {
	font-family: EuclidCircularBold;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Bold.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularBoldItalic;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Bold\ Italic.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularItalic;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Italic.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularLight;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Light.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularLightItalic;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Light\ Italic.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularMedium;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Medium.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularMediumItalic;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Medium\ Italic.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularRegular;
	src: url('../assets/fonts/Euclid\ Circular\ B\ Regular.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularSemiBold;
	src: url('../assets/fonts/Euclid\ Circular\ B\ SemiBold.ttf');
	font-display: swap;
}
@font-face {
	font-family: EuclidCircularSemiBoldItalic;
	src: url('../assets/fonts/Euclid\ Circular\ B\ SemiBold\ Italic.ttf');
	font-display: swap;
}

// base
@import 'base/base';

// pages
@import 'pages/dashboard';

// components
@import 'components/errorStatus';
@import 'components/nav';
@import 'components/utilities';

:root {
	--font-bold: EuclidCircularBold;
	--font-bold-italic: EuclidCircularBoldItalic;
	--font-italic: EuclidCircularItalic;
	--font-light: EuclidCircularLight;
	--font-light-italic: EuclidCircularLightItalic;
	--font-medium: EuclidCircularMedium;
	--font-medium-italic: EuclidCircularMediumItalic;
	--font-regular: EuclidCircularRegular;
	--font-semibold: EuclidCircularSemiBold;
	--font-semibold-italic: EuclidCircularSemiBoldItalic;
	// COLORS
	--color-primary: #105b48;
	--color-primary-light: rgba(23, 109, 88, 0.15);
	--color-primary-light-hover: rgba(23, 109, 88, 0.08);
	--color-primary-alpha: #176d5826;

	--color-white: #ffffff;
	--color-black: #191919;

	--color-gray-600: #3d3d3d;
	--color-gray-500: #606060;
	--color-gray-300: #d6d6d6;
	--border-light: #f4f4f5;
	--color-gray-200: #e4e4e4;

	--color-primary-alpha: #176d58;
	--color-gray-100: #f5f5f5;
	--color-gray-200: #e4e4e4;
}
